.Playlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: black;
    box-shadow: 0px 4px 2px 2px rgb(29, 28, 28);

}

.Playlist input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    border-bottom: 1px solid rgb(227, 211, 211);
    font-family: "Montserrat", sans-serif;
    font-size: 1.55rem;
    color: white;

}

.Playlist-save{
    cursor: pointer;
    width: 10rem;
    padding: 0.77rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: rgb(96, 236, 96);
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 0.83rem;
    transition: background-color 0.25rem;
    color: white;
    font-weight: 500;
}

.Playlist-save:hover{
    background-color: rgb(51, 233, 51);
}

::-webkit-scrollbar{
    width: 0px;
    background: transparent;

}

@media only screen and (max-width: 1020px){
    .Playlist{
        width:90%;
    }
}